# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\JavaProject\houduan000002\github-java-source\likede___yuanma\likede相关资料汇总\立可得2.0\每日代码\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
